<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>AlpacaRadio</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <script th:src="@{/js/auth.js}" type="text/javascript"></script>
</head>
<body>
<div th:fragment="header">
    <h1>Welcome to AlpacaRadio!</h1>
    <a href="/oauth2/authorization/github" th:unless="${user}">Login with GitHub</a>
    <a href="/oauth2/authorization/google" th:unless="${user}">Login with Google</a>
    <img style="width: 2em; height: 2em; border-radius: 0.5em;" th:if="${user}" th:src="${user.picture}"/>
    <span th:if="${user}" th:text="${user.name}">Full Name</span>
    <a href="#" onclick="logout()" th:if="${user}">Logout</a>
    <a href="/">Watch</a>
    <a href="/addVideo">Add Video</a>
    <a href="/listVideos">List Videos</a>
</div>
<p>Content here</p>
<div th:fragment="footer">Made with 🎶 in Munich</div>
</body>
</html>